<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="/js/app.js"></script>
  <title>Mongo News</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">New York Times Arts Scraper</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/saved" class="saved">Saved Articles</a></li>
        <li><btn class="waves-effect waves-light btn" id="scrape">Scrape Articles</btn></li>
        <li><btn class="waves-effect waves-light btn" id="clear">Clear Articles</btn></li>
      </ul>
    </div>
  </nav>

  {{{body}}}

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">New York Times Arts Scraper</h5>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/sjonon/mongo-news"
                target="_blank">GitHub</a></li>
            <li><a class="grey-text text-lighten-3" href="https://sjonon.github.io/Responsive-Portfolio/"
                target="_blank">Portfolio</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2019 Sylvia Jonon
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
</body>

</html>