<h1>Saved News from the New York Times Arts Section</h1>

<div class="savedarticle container">

</div>
  <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="modalTitle" class="modal-title" id="exampleModalCenterTitle">Notes:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="notesHere" class="modal-body">
          <input id="noteText" data-id="" type="text" class="form-control">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button id="saveNote" type="button" class="btn btn-primary">Save Note</button>
        </div>
      </div>
    </div>
  </div>



{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}
<script src="/js/saved.js"></script>