<h1>Latest News from the New York Times Arts Section</h1>

<div class="savedarticle container">

</div>
          
          
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> --}}
<script src="/js/saved.js"></script>