h1 {
    color:95adbe;
};

nav {
    background-color: 95adbe;
};

footer {
    background-color: 95adbe;
};

.nav-wrapper {
    background-image: "/assets/newspapers.jpg"
};

.card-title {
    background-color: #666;
};

